
@{
    ViewBag.Title = "Galería";
}
@*<link href="~/Content/Site.css" rel="stylesheet" />*@

<div class="container">
    <div class="column">
        <img src="~/Content/img/Obras/almuerzo-de-remeros-renoir.jpg" />
        <input type="button" value="Agregar al carrito" class="botonesGaleria" />
        <img src="~/Content/img/Obras/ultima-cena-reproduccion.jpg" />
        <input type="button" value="Agregar al carrito" class="botonesGaleria" />
        <img src="~/Content/img/Obras/campo-amapolas-monet.jpg" />
        <input type="button" value="Agregar al carrito" class="botonesGaleria" />
    </div>
    <div class="column">
        <img src="~/Content/img/Obras/campo-trigo-van-gogh.jpg" />
        <input type="button" value="Agregar al carrito" class="botonesGaleria" />
        <img src="~/Content/img/Obras/jardin-giverny-monet.jpg" />
        <input type="button" value="Agregar al carrito" class="botonesGaleria" />
        <img src="~/Content/img/Obras/la-grenouillere-renoir.jpg" />
        <input type="button" value="Agregar al carrito" class="botonesGaleria" />
    </div>
    <div class="column">
        <img src="~/Content/img/Obras/la-scapigliata-da-vinci.jpg" />
        <input type="button" value="Agregar al carrito" class="botonesGaleria" />
        <img src="~/Content/img/Obras/senoritas-avignon-picasso.jpg" />
        <input type="button" value="Agregar al carrito" class="botonesGaleria" />
        <img src="~/Content/img/Obras/torero-alucinogeno-dali.jpg" />
        <input type="button" value="Agregar al carrito" class="botonesGaleria" />
    </div>
</div>