
@{
    ViewBag.Title = "Galeria";
}
<link href="~/Content/Galeria.css" rel="stylesheet" />

<div class="container">
    <div class="column">
        <img src="~/Content/img/Obras/almuerzo-de-remeros-renoir.jpg" />
        <img src="~/Content/img/Obras/ultima-cena-reproduccion.jpg" />
        <img src="~/Content/img/Obras/campo-amapolas-monet.jpg" />
    </div>
    <div class="column">
        <img src="~/Content/img/Obras/campo-trigo-van-gogh.jpg" />
        <img src="~/Content/img/Obras/jardin-giverny-monet.jpg" />
        <img src="~/Content/img/Obras/la-grenouillere-renoir.jpg" />
    </div>
    <div class="column">
        <img src="~/Content/img/Obras/la-scapigliata-da-vinci.jpg" />
        <img src="~/Content/img/Obras/persistencia-memoria-dali-obra.jpg" />
        <img src="~/Content/img/Obras/senoritas-avignon-picasso.jpg" />
        <img src="~/Content/img/Obras/torero-alucinogeno-dali.jpg" />
    </div>
</div>