
@{
    ViewBag.Title = "Principal";
}
<div class="post">
    <h2 class="title"><a href="#"> "Lo que el color es en un cuadro el entusiasmo es en la vida"</a></h2>
    <p class="byline"> Vincent van Gogh </p>
    <div class="entry">
        <p>
            La pintura es una de las expresiones artísticas más antiguas y una de las siete Bellas Artes. 
            En estética o teoría del arte, la pintura está considerada como una categoría universal que comprende todas las creaciones artísticas hechas sobre superficies.
            Una categoría aplicable a cualquier técnica o tipo de soporte físico o material, incluyendo los soportes o las técnicas efímeras así como los soportes o las técnicas digitales.
        </p>
    </div>
</div>