@model norte.equipo5.Data.Model.CartItem

@{
    ViewBag.Title = "Delete";
}

<h3>Eliminar del carrito</h3>

<div>
    <hr />

    <p>
        Estas seguro que desea eliminar el producto?
    </p>

    @using (Html.BeginForm())
    {

<div class="form-actions no-color">

    <input type="submit" value="Eliminar" />        
    <br />
    @Html.ActionLink("Volver a la lista", "Index")
</div>
    }
</div>
